body {
    background-color: white;
    font-family: 'Courier New',Courier;
    border: 0;
    padding: 0;
    margin: 0;
}

#topPanel {
    height: 200px; 
}

#mainPanel {
    margin-top: 20px;
}

.infoPanel {
    text-align: center;
}


.accountPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.accountPanel.left {
    width: 50%;
    float: left;
}

.accountPanel.right {
    width: 50%;
    float: right;
}

#bottomPanel {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#mainPanel .ldBar-label:after { 
    content: "kr"; 
    color: #aaa; 
    margin-left: 5px; 
    font-size: 0.7em; 
    font-weight: 200; 
}

#bottomPanel .ldBar-label { 
    text-align: center;
}

#bottomPanel .ldBar-label:after { 
    content: "kr total savings"; 
    color: #aaa; 
    margin-left: 5px; 
    font-size: 0.7em; 
    font-weight: 200; 
}