body {
    background-color: white;
    font-family: 'Courier New',Courier;
    border: 0;
    padding: 0;
    margin: 0;
}




#homeBar {
    background-color: rgb(231, 231, 231);
}

#bottomPanel {
    background-color: #fdedfd;
    position: fixed;
    bottom: 0;
    
}

#bottomPanel .ldBar {

}

#homeBar .ldBar-label:after { 
    content: "kr"; 
    color: #aaa; 
    margin-left: 5px; 
    font-size: 0.7em; 
    font-weight: 200; 
}